scipy >= 0.12.1
numpy == 1.23.5
astropy >= 1.1.1
configparser
tqdm >= 4.0
pandas >= 0.24
tables > 3.5.0
h5py >= 3.7.0
schwimmbad >= 0.3.1
matplotlib >= 2.0.0
sphinx >= 1.6.1
numpydoc >= 0.8.0
sphinx-bootstrap-theme >= 0.6
sphinxcontrib-programoutput
sphinx-automodapi
ipython
sphinx_rtd_theme
coverage
cpp-coveralls
importlib-metadata < 5.0
flake8 < 5
pytest
pytest-cov
wheel
furo
sphinx-design
sphinx-copybutton
meson
